In [1]:
pip install fancyimpute

/bin/bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by /bin/bash)

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by bash)
Requirement already satisfied: fancyimpute in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (0.7.0)
Requirement already satisfied: knnimpute>=0.1.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: scikit-learn>=0.24.2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fancyimpute) (1.0.2)
Requirement already satisfied: nose in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fancyimpute) (1.3.7)
Requirement already satisfied: cvxopt in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fancyimpute) (1.3.1)
Requirement already satisfied: pytest in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fancyimpute) (7.1.2)
Requirement already satisfied: cvxpy in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fancyimpute) (1.3.1)
Requirement already satisfied: six in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from knnimpute>=0.1.0->fancyimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from knnimpute>=0.1.0->fancyimpute) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from scikit-learn>=0.24.2->fancyimpute) (2.2.0)
Requirement already satisfied: ecos>=2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from cvxpy->fancyimpute) (2.0.12)
Requirement already satisfied: scs>=1.1.6 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from cvxpy->fancyimpute) (3.2.3)
Requirement already satisfied: osqp>=0.4.1 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from cvxpy->fancyimpute) (0.6.3)
Requirement already satisfied: setuptools>65.5.1 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from cvxpy->fancyimpute) (67.8.0)
Requirement already satisfied: attrs>=19.2.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from pytest->fancyimpute) (22.1.0)
Requirement already satisfied: iniconfig in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from pytest->fancyimpute) (1.1.1)
Requirement already satisfied: packaging in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from pytest->fancyimpute) (21.3)
Requirement already satisfied: pluggy<2.0,>=0.12 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from pytest->fancyimpute) (1.0.0)
Requirement already satisfied: py>=1.8.2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from pytest->fancyimpute) (1.11.0)
Requirement already satisfied: tomli>=1.0.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from pytest->fancyimpute) (2.0.1)
Requirement already satisfied: qdldl in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from osqp>=0.4.1->cvxpy->fancyimpute) (0.1.7)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from packaging->pytest->fancyimpute) (3.0.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install geopandas

/bin/bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by /bin/bash)

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by bash)
Requirement already satisfied: geopandas in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (0.13.2)
Requirement already satisfied: fiona>=1.8.19 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from geopandas) (1.9.4.post1)
Requirement already satisfied: pandas>=1.1.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from geopandas) (1.5.1)
Requirement already satisfied: packaging in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from geopandas) (21.3)
Requirement already satisfied: shapely>=1.7.1 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from geopandas) (2.0.1)
Requirement already satisfied: pyproj>=3.0.1 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from geopandas) (3.6.0)
Requirement already satisfied: importlib-metadata in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fiona>=1.8.19->geopandas) (4.11.3)
Requirement already satisfied: click~=8.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fiona>=1.8.19->geopandas) (8.0.4)
Requirement already satisfied: certifi in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fiona>=1.8.19->geopandas) (2022.9.24)
Requirement already satisfied: cligj>=0.5 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fiona>=1.8.19->geopandas) (0.7.2)
Requirement already satisfied: six in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: click-plugins>=1.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fiona>=1.8.19->geopandas) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from fiona>=1.8.19->geopandas) (22.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from pandas>=1.1.0->geopandas) (2022.1)
Requirement already satisfied: numpy>=1.20.3 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from pandas>=1.1.0->geopandas) (1.21.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from packaging->geopandas) (3.0.9)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from importlib-metadata->fiona>=1.8.19->geopandas) (3.8.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install xgboost

/bin/bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by /bin/bash)

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by bash)
Requirement already satisfied: xgboost in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (1.7.6)
Requirement already satisfied: numpy in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from xgboost) (1.7.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install imblearn

/bin/bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by /bin/bash)

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by bash)
Requirement already satisfied: imblearn in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from imblearn) (0.10.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install prince

/bin/bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by /bin/bash)

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by bash)
Requirement already satisfied: prince in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (0.10.7)
Requirement already satisfied: scikit-learn<2.0.0,>=1.0.2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from prince) (1.0.2)
Requirement already satisfied: pandas<3.0.0,>=1.4.1 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from prince) (1.5.1)
Requirement already satisfied: altair<5.0.0,>=4.2.2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from prince) (4.2.2)
Requirement already satisfied: numpy in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from altair<5.0.0,>=4.2.2->prince) (1.21.5)
Requirement already satisfied: jsonschema>=3.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from altair<5.0.0,>=4.2.2->prince) (4.16.0)
Requirement already satisfied: entrypoints in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from altair<5.0.0,>=4.2.2->prince) (0.4)
Requirement already satisfied: toolz in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from altair<5.0.0,>=4.2.2->prince) (0.12.0)
Requirement already satisfied: jinja2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from altair<5.0.0,>=4.2.2->prince) (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from pandas<3.0.0,>=1.4.1->prince) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from pandas<3.0.0,>=1.4.1->prince) (2022.1)
Requirement already satisfied: scipy>=1.1.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (2.2.0)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (1.1.1)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from jsonschema>=3.0->altair<5.0.0,>=4.2.2->prince) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from jsonschema>=3.0->altair<5.0.0,>=4.2.2->prince) (0.18.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas<3.0.0,>=1.4.1->prince) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from jinja2->altair<5.0.0,>=4.2.2->prince) (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install keras_tuner

/bin/bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by /bin/bash)

         .:::.     .::.
        ....yy:    .yy.
        :.  .yy.    y.
             :y:   .:
             .yy  .:
              yy..:
              :y:.
              .y.
             .:.
        ....:.
        :::.

• Project files and data should be stored in /project. This is shared among everyone
  in the project.
• Personal files and configuration should be stored in /home/faculty.
• Files outside /project and /home/faculty will be lost when this server is terminated.
• Create custom environments to setup your servers reproducibly.

bash: /opt/anaconda/envs/Python3/lib/libtinfo.so.6: no version information available (required by bash)
Requirement already satisfied: keras_tuner in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (1.3.5)
Requirement already satisfied: requests in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from keras_tuner) (2.28.1)
Requirement already satisfied: packaging in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from keras_tuner) (21.3)
Requirement already satisfied: kt-legacy in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from keras_tuner) (1.0.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from packaging->keras_tuner) (3.0.9)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from requests->keras_tuner) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from requests->keras_tuner) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from requests->keras_tuner) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda/envs/Python3/lib/python3.9/site-packages (from requests->keras_tuner) (3.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
#importing libraries 
import pandas as pd
#from fancyimpute import IterativeImputer
import numpy as np
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
merged_df = pd.read_csv('merged_adult_dataframe.csv')

In [3]:
merged_df

#Survey WEights

,Serial,LA,Age,Child,Diability,Education,Ethnicity,Gender,Workstatus,BMI,Badminton_12_Momths,Badminton_Duration,Badminton_Frequency,Mins_Badminton_Perweek,Duration_Racket,Frequency_Racket,IMD,Time
0,1.604801e+14,155.0,8.0,NaN,2.0,NaN,7.0,2.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,1
1,1.511600e+14,123.0,6.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,1
2,1.511600e+14,123.0,4.0,3.0,NaN,3.0,1.0,2.0,6.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,10.0,1
3,1.511600e+14,123.0,7.0,1.0,2.0,3.0,1.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,9.0,1
4,1.511600e+14,123.0,7.0,1.0,2.0,3.0,1.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,9.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117750,2.110903e+14,NaN,2.0,1.0,1.0,2.0,1.0,2.0,8.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0,6.0,6
1117751,2.110903e+14,78.0,5.0,1.0,2.0,NaN,2.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,9.0,6
1117752,2.110903e+14,78.0,6.0,1.0,2.0,3.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,NaN,0.0,0.0,5.0,6
1117753,2.110903e+14,78.0,6.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,5.0,6
1117754,2.110903e+14,78.0,3.0,1.0,2.0,5.0,7.0,1.0,2.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0,2.0,6

In [4]:
unique_values = merged_df['Serial'].nunique()
print("Number of unique values in 'Seriel' column:", unique_values)

#only 44 repeated users - thus pooled analysis likely ok

Number of unique values in 'Seriel' column: 1117711

In [5]:
# Create a new variable based on the condition
merged_df['Plays_badminton'] = merged_df['Badminton_Frequency'].apply(lambda x: 1 if x > 0 else 0)

In [6]:
# Create a new variable based on the condition
merged_df['Plays_racket'] = merged_df['Frequency_Racket'].apply(lambda x: 1 if x > 0 else 0)

In [7]:
merged_df

,Serial,LA,Age,Child,Diability,Education,Ethnicity,Gender,Workstatus,BMI,Badminton_12_Momths,Badminton_Duration,Badminton_Frequency,Mins_Badminton_Perweek,Duration_Racket,Frequency_Racket,IMD,Time,Plays_badminton,Plays_racket
0,1.604801e+14,155.0,8.0,NaN,2.0,NaN,7.0,2.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,1,0,0
1,1.511600e+14,123.0,6.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,1,0,0
2,1.511600e+14,123.0,4.0,3.0,NaN,3.0,1.0,2.0,6.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,10.0,1,0,0
3,1.511600e+14,123.0,7.0,1.0,2.0,3.0,1.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,9.0,1,0,0
4,1.511600e+14,123.0,7.0,1.0,2.0,3.0,1.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,9.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117750,2.110903e+14,NaN,2.0,1.0,1.0,2.0,1.0,2.0,8.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0,6.0,6,0,0
1117751,2.110903e+14,78.0,5.0,1.0,2.0,NaN,2.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,9.0,6,0,0
1117752,2.110903e+14,78.0,6.0,1.0,2.0,3.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,NaN,0.0,0.0,5.0,6,0,0
1117753,2.110903e+14,78.0,6.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,5.0,6,0,0
1117754,2.110903e+14,78.0,3.0,1.0,2.0,5.0,7.0,1.0,2.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0,2.0,6,0,0

In [8]:
#dealing with NA values 
merged_df.describe()



#categorical varaibles 
# Education 
#ethnicity 
#LA
#work_status




#binary 
#disability - assume no disabiility if non 0 
#Gender

,Serial,LA,Age,Child,Diability,Education,Ethnicity,Gender,Workstatus,BMI,Badminton_12_Momths,Badminton_Duration,Badminton_Frequency,Mins_Badminton_Perweek,Duration_Racket,Frequency_Racket,IMD,Time,Plays_badminton,Plays_racket
count,1.117755e+06,1.105208e+06,1.108717e+06,1.074855e+06,1.053202e+06,1.020303e+06,1.080519e+06,1.115689e+06,1.083988e+06,964489.000000,1.117755e+06,1.117755e+06,923131.000000,310013.000000,1.117755e+06,1.117755e+06,1.117750e+06,1.117755e+06,1.117755e+06,1.117755e+06
mean,1.831584e+14,1.655182e+02,5.263653e+00,1.427512e+00,1.818188e+00,2.213678e+00,1.317489e+00,1.558548e+00,3.246350e+00,2.693463,5.346699e-02,1.757682e+00,0.091642,6.116635,6.243326e+00,2.740064e-01,5.581292e+00,3.416710e+00,2.021999e-02,5.515967e-02
std,1.743242e+13,9.523460e+01,1.799550e+00,8.042632e-01,3.856899e-01,1.610886e+00,9.696565e-01,4.994259e-01,2.429743e+00,0.823851,2.249629e-01,1.947960e+01,0.766983,25.063484,4.334488e+01,1.596322e+00,2.863709e+00,1.718250e+00,1.407521e-01,2.282918e-01
min,1.511600e+14,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,1.703603e+14,8.200000e+01,4.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,3.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00
50%,1.809708e+14,1.660000e+02,5.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,6.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00
75%,2.003723e+14,2.450000e+02,7.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,2.000000e+00,5.000000e+00,3.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,8.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00
max,2.110903e+14,3.540000e+02,9.000000e+00,4.000000e+00,2.000000e+00,6.000000e+00,7.000000e+00,3.000000e+00,1.000000e+01,5.000000,1.000000e+00,1.680000e+03,40.000000,480.000000,6.000000e+03,1.120000e+02,1.000000e+01,6.000000e+00,1.000000e+00,1.000000e+00

In [9]:
#function to set anything less than 0 to NAN as stated in the survey data 
def set_negative_to_nan(dataframe):
    dataframe[dataframe < 0] = np.nan
    return dataframe

# Apply the function to set negative values to NaN for all columns
full = set_negative_to_nan(merged_df)

In [12]:
# Separate continuous and categorical columns
continuous_cols = ['Frequency_Racket', 'Duration_Racket','Mins_Badminton_Perweek',
                   'Badminton_Duration','Badminton_12_Momths','Time','IMD']

categorical_cols = [col for col in full.columns if col not in continuous_cols]

# Replace NaNs with 0 in continuous columns
#Based on logic and assumption if the value is nan its likely they didn't play racket sports or badminton etc.
df_continuous = full[continuous_cols].fillna(0)

# Perform mode imputation for categorical columns
mode_imputer = SimpleImputer(strategy='most_frequent')
df_categorical = pd.DataFrame(mode_imputer.fit_transform(full[categorical_cols]), columns=categorical_cols)

# Combine the imputed dataframes
df_imputed = pd.concat([df_continuous, df_categorical], axis=1)

In [13]:
#check to see if everything is positive
df_imputed.describe()
#seems some small errors when imputing NAN values for mins per week

,Frequency_Racket,Duration_Racket,Mins_Badminton_Perweek,Badminton_Duration,Badminton_12_Momths,Time,IMD,Serial,LA,Age,Child,Diability,Education,Ethnicity,Gender,Workstatus,BMI,Badminton_Frequency,Plays_badminton,Plays_racket
count,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06,1.117755e+06
mean,2.740064e-01,6.243326e+00,1.696469e+00,1.757682e+00,5.346699e-02,3.416710e+00,5.581267e+00,1.831584e+14,1.656134e+02,5.269607e+00,1.411104e+00,1.828688e+00,2.107863e+00,1.306913e+00,1.559364e+00,3.178488e+00,2.598375e+00,7.568564e-02,2.021999e-02,5.515967e-02
std,1.596322e+00,4.334488e+01,1.348056e+01,1.947960e+01,2.249629e-01,1.718250e+00,2.863727e+00,1.743242e+13,9.470280e+01,1.793473e+00,7.929431e-01,3.767817e-01,1.576686e+00,9.550694e-01,4.993242e-01,2.423456e+00,8.015992e-01,6.978839e-01,1.407521e-01,2.282918e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.511600e+14,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,1.703603e+14,8.300000e+01,4.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,6.000000e+00,1.809708e+14,1.680000e+02,5.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,8.000000e+00,2.003723e+14,2.440000e+02,7.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,2.000000e+00,5.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.120000e+02,6.000000e+03,4.800000e+02,1.680000e+03,1.000000e+00,6.000000e+00,1.000000e+01,2.110903e+14,3.540000e+02,9.000000e+00,4.000000e+00,2.000000e+00,6.000000e+00,7.000000e+00,3.000000e+00,1.000000e+01,5.000000e+00,4.000000e+01,1.000000e+00,1.000000e+00

In [14]:
df_imputed.dtypes

# List of continuous columns
continuous_cols = ['Frequency_Racket', 'Duration_Racket','Mins_Badminton_Perweek',
                   'Badminton_Duration','Badminton_12_Momths','Age','Time','IMD']

# Convert variables not in continuous_cols to object data type
for col in df_imputed.columns:
    if col not in continuous_cols:
        df_imputed[col] = df_imputed[col].astype('object')




# Convert variables to numeric data type
df_imputed['Plays_badminton'] = pd.to_numeric(df_imputed['Plays_badminton'], errors='coerce')
df_imputed['Plays_racket'] = pd.to_numeric(df_imputed['Plays_racket'], errors='coerce')
df_imputed['Serial'] = df_imputed['Serial'].astype("string")


# Check the data types
print(df_imputed.dtypes)

Frequency_Racket          float64
Duration_Racket           float64
Mins_Badminton_Perweek    float64
Badminton_Duration        float64
Badminton_12_Momths       float64
Time                        int64
IMD                       float64
Serial                     string
LA                         object
Age                       float64
Child                      object
Diability                  object
Education                  object
Ethnicity                  object
Gender                     object
Workstatus                 object
BMI                        object
Badminton_Frequency        object
Plays_badminton           float64
Plays_racket              float64
dtype: object

### Detecting Outliers

In [57]:
# Set the threshold for outlier detection
iqr_threshold = 1.5

# Calculate the IQR for each column
q1 = df_imputed.quantile(0.25)
q3 = df_imputed.quantile(0.75)
iqr = q3 - q1

# Define the lower and upper bounds for outliers
lower_bound = q1 - (iqr_threshold * iqr)
upper_bound = q3 + (iqr_threshold * iqr)

# Identify outliers
outliers = ((df_imputed < lower_bound) | (df_imputed > upper_bound)).any(axis=1)

# Print the rows containing outliers
print(df_imputed[outliers])

/tmp/ipykernel_262848/2911359869.py:5: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  q1 = df_imputed.quantile(0.25)
/tmp/ipykernel_262848/2911359869.py:6: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  q3 = df_imputed.quantile(0.75)
/tmp/ipykernel_262848/2911359869.py:14: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers = ((df_imputed < lower_bound) | (df_imputed > upper_bound)).any(axis=1)

         Frequency_Racket  Duration_Racket  Mins_Badminton_Perweek  \
18                    4.0             90.0                    90.0
21                   10.0            150.0                     0.0
25                    0.0              0.0                     0.0
31                    0.0              0.0                     0.0
57                    4.0            240.0                   240.0
...                   ...              ...                     ...
1117709               1.0             15.0                     0.0
1117712               3.0             90.0                     0.0
1117728               0.0              0.0                     0.0
1117740              10.0            300.0                     0.0
1117749              14.0            472.5                     0.0

         Badminton_Duration  Badminton_12_Momths  Time             Serial  \
18                     90.0                  1.0     1  151160021018082.0
21                      0.0                  0.0     1  151160021023281.0
25                      0.0                  1.0     1  151160021025501.0
31                      0.0                  1.0     1  151160031037701.0
57                    240.0                  1.0     1  151160041048481.0
...                     ...                  ...   ...                ...
1117709                 0.0                  0.0     6  211090326781812.0
1117712                 0.0                  0.0     6  211090326783141.0
1117728                 0.0                  1.0     6  211090336794511.0
1117740                 0.0                  0.0     6  211090336809961.0
1117749                 0.0                  1.0     6  211090336821411.0

            LA  Age Child Diability Education Ethnicity Gender Workstatus  \
18       169.0  6.0   1.0       1.0       3.0       1.0    2.0        1.0
21       169.0  5.0   2.0       2.0       1.0       1.0    1.0        1.0
25       169.0  1.0   1.0       2.0       1.0       1.0    2.0        1.0
31       206.0  1.0   1.0       2.0       1.0       1.0    2.0        1.0
57       261.0  4.0   2.0       2.0       1.0       3.0    2.0        3.0
...        ...  ...   ...       ...       ...       ...    ...        ...
1117709  321.0  3.0   1.0       2.0       1.0       1.0    2.0        1.0
1117712  321.0  3.0   1.0       2.0       1.0       1.0    2.0        1.0
1117728  174.0  3.0   1.0       2.0       1.0       2.0    2.0        8.0
1117740   78.0  6.0   1.0       2.0       1.0       2.0    1.0        3.0
1117749   78.0  2.0   1.0       2.0       5.0       2.0    2.0       10.0

         BMI Badminton_Frequency  Plays_badminton  Plays_racket
18       2.0                 4.0              1.0           1.0
21       3.0                 0.0              0.0           1.0
25       2.0                 0.0              0.0           0.0
31       2.0                 0.0              0.0           0.0
57       2.0                 4.0              1.0           1.0
...      ...                 ...              ...           ...
1117709  3.0                 0.0              0.0           1.0
1117712  1.0                 0.0              0.0           1.0
1117728  2.0                 0.0              0.0           0.0
1117740  3.0                 0.0              0.0           1.0
1117749  1.0                 0.0              0.0           1.0

[94562 rows x 19 columns]

There seem to be a lot of outliers so its more than likely that these are edge cases etc.. so keep them may be important for the analysis.

## Data Transformation

In [58]:
# Function to check the distribution of each variable
def check_distribution(df, variable, alpha=0.05):
    # Checking if the variable is normally distributed
    # H0: Data is drawn from normal distribution
    _, p_value = stats.normaltest(df[variable])
    
    if p_value < alpha:
        # If the null hypothesis can be rejected, the data is not normally distributed
        print(f"Variable {variable} is not normally distributed")
        
        # Check the distribution after log transformation
        transformed, _ = stats.boxcox(df[variable]+1)  # boxcox requires positive values
        _, p_value_transformed = stats.normaltest(transformed)
        
        if p_value_transformed > alpha:
            print(f"Variable {variable} is normally distributed after transformation\n")
        else:
            print(f"Variable {variable} is not normally distributed even after transformation\n")
    else:
        print(f"Variable {variable} is normally distributed\n")

# Iterating over each numeric column in the DataFrame
for column in df_imputed.select_dtypes(include=np.number).columns:
    check_distribution(df_imputed, column)

Variable Frequency_Racket is not normally distributed
Variable Frequency_Racket is not normally distributed even after transformation

Variable Duration_Racket is not normally distributed
Variable Duration_Racket is not normally distributed even after transformation

Variable Mins_Badminton_Perweek is not normally distributed
Variable Mins_Badminton_Perweek is not normally distributed even after transformation

Variable Badminton_Duration is not normally distributed
Variable Badminton_Duration is not normally distributed even after transformation

Variable Badminton_12_Momths is not normally distributed
Variable Badminton_12_Momths is not normally distributed even after transformation

Variable Time is not normally distributed
Variable Time is not normally distributed even after transformation

Variable Age is not normally distributed
Variable Age is not normally distributed even after transformation

Variable Plays_badminton is not normally distributed
Variable Plays_badminton is not normally distributed even after transformation

Variable Plays_racket is not normally distributed
Variable Plays_racket is not normally distributed even after transformation

In [59]:
from scipy.stats import boxcox
from sklearn.preprocessing import PowerTransformer

# Function to apply various transformations
def apply_transformations(df, variable, alpha=0.05):
    transformations = {'Log': np.log, 'Square root': np.sqrt, 'Box-Cox': boxcox}
    
    results = []
    
    for transformation_name, transformation_func in transformations.items():
        try:
            transformed_data = transformation_func(df[variable].replace(0, np.nan).dropna()+1)  # replace 0s to prevent errors
            _, p_value = stats.normaltest(transformed_data)
            
            results.append({
                'Variable': variable,
                'Transformation': transformation_name,
                'p_value': p_value,
                'Is_Normal': p_value > alpha,
            })
        except Exception as e:
            results.append({
                'Variable': variable,
                'Transformation': transformation_name,
                'p_value': np.nan,
                'Is_Normal': False,
            })
            
    return pd.DataFrame(results)

# Apply transformations to each numeric column in the DataFrame
results = pd.concat([apply_transformations(df_imputed, column) for column in df_imputed.select_dtypes(include=np.number).columns])

# Print results
print(results)

/opt/anaconda/envs/Python3/lib/python3.9/site-packages/scipy/stats/stats.py:114: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a = np.asarray(a)
/opt/anaconda/envs/Python3/lib/python3.9/site-packages/scipy/stats/stats.py:114: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a = np.asarray(a)
/opt/anaconda/envs/Python3/lib/python3.9/site-packages/scipy/stats/stats.py:114: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a = np.asarray(a)
/opt/anaconda/envs/Python3/lib/python3.9/site-packages/scipy/stats/stats.py:114: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a = np.asarray(a)
/opt/anaconda/envs/Python3/lib/python3.9/site-packages/scipy/stats/stats.py:114: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a = np.asarray(a)

                 Variable Transformation        p_value  Is_Normal
0        Frequency_Racket            Log   0.000000e+00      False
1        Frequency_Racket    Square root   0.000000e+00      False
2        Frequency_Racket        Box-Cox            NaN      False
0         Duration_Racket            Log  3.728869e-196      False
1         Duration_Racket    Square root   0.000000e+00      False
2         Duration_Racket        Box-Cox            NaN      False
0  Mins_Badminton_Perweek            Log   0.000000e+00      False
1  Mins_Badminton_Perweek    Square root  3.409317e-195      False
2  Mins_Badminton_Perweek        Box-Cox            NaN      False
0      Badminton_Duration            Log   6.746729e-42      False
1      Badminton_Duration    Square root   0.000000e+00      False
2      Badminton_Duration        Box-Cox            NaN      False
0     Badminton_12_Momths            Log   0.000000e+00      False
1     Badminton_12_Momths    Square root   0.000000e+00      False
2     Badminton_12_Momths        Box-Cox            NaN      False
0                    Time            Log   0.000000e+00      False
1                    Time    Square root   0.000000e+00      False
2                    Time        Box-Cox            NaN      False
0                     Age            Log   0.000000e+00      False
1                     Age    Square root   0.000000e+00      False
2                     Age        Box-Cox            NaN      False
0         Plays_badminton            Log   0.000000e+00      False
1         Plays_badminton    Square root   0.000000e+00      False
2         Plays_badminton        Box-Cox            NaN      False
0            Plays_racket            Log   0.000000e+00      False
1            Plays_racket    Square root   0.000000e+00      False
2            Plays_racket        Box-Cox            NaN      False

/opt/anaconda/envs/Python3/lib/python3.9/site-packages/scipy/stats/stats.py:114: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a = np.asarray(a)

None of the varaibles even after transformation show normal distribution thus may not be correct based on this analysis as fewer people play rackets sports etc... thus transformation of the data might not be neccesary.

def plot_distribution(dataframe):
    """
    Plot the distribution of all columns in the dataframe.

    Parameters:
    - dataframe: Pandas DataFrame containing the data.

    Returns:
    - None (displays the plots).
    """
    for col in dataframe.columns:
        plt.figure(figsize=(8, 6))
        if dataframe[col].dtype == 'object':
            # Categorical variable, plot bar chart
            value_counts = dataframe[col].value_counts()
            sns.barplot(x=value_counts.index, y=value_counts.values, alpha=0.7)
            plt.xlabel(col)
            plt.ylabel('Frequency')
        else:
            # Numeric variable, plot histogram
            plt.hist(dataframe[col], bins='auto', alpha=0.7, color='blue', edgecolor='black')
            plt.xlabel(col)
            plt.ylabel('Frequency')
        
        plt.title(f'Distribution - {col}')
        plt.show()
        
        
# Plot distribution of all columns
plot_distribution(df_imputed)

In [66]:
df_imputed

,Frequency_Racket,Duration_Racket,Mins_Badminton_Perweek,Badminton_Duration,Badminton_12_Momths,Time,Serial,LA,Age,Child,Diability,Education,Ethnicity,Gender,Workstatus,BMI,Badminton_Frequency,Plays_badminton,Plays_racket
0,0.0,0.0,0.0,0.0,0.0,1,160480126774181.0,155.0,8.0,1.0,2.0,1.0,7.0,2.0,5.0,2.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1,151160011004881.0,123.0,6.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1,151160011005981.0,123.0,4.0,3.0,2.0,3.0,1.0,2.0,6.0,2.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1,151160011007481.0,123.0,7.0,1.0,2.0,3.0,1.0,1.0,1.0,2.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1,151160011007482.0,123.0,7.0,1.0,2.0,3.0,1.0,1.0,1.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117750,0.0,0.0,0.0,0.0,0.0,6,211090336822241.0,174.0,2.0,1.0,1.0,2.0,1.0,2.0,8.0,2.0,0.0,0.0,0.0
1117751,0.0,0.0,0.0,0.0,0.0,6,211090336822991.0,78.0,5.0,1.0,2.0,1.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0
1117752,0.0,0.0,0.0,0.0,0.0,6,211090336823721.0,78.0,6.0,1.0,2.0,3.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0
1117753,0.0,0.0,0.0,0.0,0.0,6,211090336823722.0,78.0,6.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,0.0,0.0,0.0
1117754,0.0,0.0,0.0,0.0,0.0,6,211090336824061.0,78.0,3.0,1.0,2.0,5.0,7.0,1.0,2.0,2.0,0.0,0.0,0.0

In [15]:
# Save the DataFrame as a CSV file
df_imputed.to_csv('df_imputed.csv', index=False)