In [2]:
import pandas as pd

In [2]:

# Read the CSV file into a pandas DataFrame

chunksize = 10000

# the list that contains all the dataframes
list_of_dataframes = []

for df in pd.read_csv('year3.csv', chunksize=chunksize):
    # process your data frame here
    # then add the current data frame into the list
    list_of_dataframes.append(df)

# if you want all the dataframes together, here it is
df3 = pd.concat(list_of_dataframes)

In [3]:
df3

,serial,mode,group,Type,month,Quarter,Overall,Age16plus,Age19plus,male16plus,...,HABITA1CGR_FELLRUNNING_L04,HABITA1CGR_TRIATHLON_L05,HABITA1CGR_MODPENT_L06,HABITA1CGR_OBSTACLE_L07,HABITA1CGR_GOLF_L08,HABITA1CGR_EQUEST_L09,HABITA1CGR_BOWLS_L10,HABITA1CGR_GYMTRAMPCHEER_C13,HABITA1CGR_ROLLER_C14,HABITA1CGR_MOTORSPORTS_L18
0,1.611701e+14,1.0,2.0,1.0,26.0,9.0,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.612602e+14,1.0,1.0,1.0,34.0,12.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.612603e+14,1.0,1.0,1.0,36.0,12.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.612715e+14,1.0,2.0,1.0,28.0,10.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.701704e+14,1.0,1.0,1.0,28.0,10.0,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179742,1.810903e+14,1.0,1.0,1.0,35.0,12.0,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179743,1.810903e+14,1.0,1.0,1.0,36.0,12.0,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179744,1.810903e+14,1.0,1.0,1.0,36.0,12.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179745,1.810903e+14,1.0,2.0,1.0,36.0,12.0,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179746,1.810903e+14,1.0,1.0,1.0,36.0,12.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Find column names containing "adult"
matching_columns = df3.columns[df3.columns.str.contains('badminton', case=False)]

# Print the matching column names
print(matching_columns.tolist())

['MONTHS_12_BADMINTON_G02', 'ACTYRA_BADMINTON_G02', 'ACTYRB_BADMINTON_G02', 'ACTYRC_BADMINTON_G02', 'DURATION_BADMINTON_G02', 'DURATION1PL_BADMINTON_G02', 'DURATIONGR_BADMINTON_G02', 'FREQUENCY_BADMINTON_G02', 'FREQUENCYGR_BADMINTON_G02', 'DAYS10P_BADMINTON_G02', 'DAYS10P60_BADMINTON_G02', 'DAYS10P60GR_BADMINTON_G02', 'MEMS7_BADMINTON_G02', 'MEMS7GR_BADMINTON_G02', 'CLUB_BADMINTON_G02', 'WHOWITHA_BADMINTON_G02', 'WHOWITHB_BADMINTON_G02', 'WHOWITHC_BADMINTON_G02', 'WHOWITHD_BADMINTON_G02', 'INOUTA_BADMINTON_G02', 'INOUTB_BADMINTON_G02', 'SETIN1_BADMINTON_G02', 'SETIN2_BADMINTON_G02', 'SETIN3_BADMINTON_G02', 'SETIN4_BADMINTON_G02', 'SETIN5_BADMINTON_G02', 'SETOUT1_BADMINTON_G02', 'SETOUT2_BADMINTON_G02', 'SETOUT3_BADMINTON_G02', 'SETOUT4_BADMINTON_G02', 'SETOUT5_BADMINTON_G02', 'SETOUT6_BADMINTON_G02', 'SETOUT7_BADMINTON_G02', 'SETOUT8_BADMINTON_G02', 'SETOUT9_BADMINTON_G02', 'SETOUT10_BADMINTON_G02', 'DAYS10PGR4x_BADMINTON_G02', 'ACTYR_7_BADMINTON_G02', 'ACTYR_4_BADMINTON_G02', 'ACTYR_3_BADMINTON_G02', 'MINS_SESS_BADMINTON_G02', 'DUR_LHT_BADMINTON_G02', 'DUR_MOD_BADMINTON_G02', 'DUR_HVY_BADMINTON_G02', 'HABITA1AGR_BADMINTON_G02', 'HABITA1BGR_BADMINTON_G02', 'HABITA1CGR_BADMINTON_G02']

In [5]:
# Define the list of variables to keep
variables_to_keep = ['serial', 'LA', 'age9' , 'nchild', 'nadult', 'Educ6','Disab2_POP', 'Eth7', 'Gend3',
                     'WorkStat10' ,'HHLiv12 na','health', 'DVBMI' ,'motivex2a','MEMS7_SPORTCOUNT_A01',
                     'MEMS7GR7_SPORTCOUNT_A01','FREQUENCYGR2_SPORTCOUNT_A01','MONTHS_12_BADMINTON_G02' ,
                     'DURATION_BADMINTON_G02', 'FREQUENCY_BADMINTON_G02','CLUB_RACKETSPORT_C06',
                     'MINS_SESS_BADMINTON_G02','DURATION_RACKETSPORT_C06', 'FREQUENCY_RACKETSPORT_C06']

# Keep only the desired variables in the DataFrame
year3 = df3[variables_to_keep]

KeyError: "['LA_2009', 'age', 'nchild', 'nadult', 'HHLiv12 na', 'health', 'motivex2a', 'MEMS7GR7_SPORTCOUNT_A01', 'FREQUENCYGR2_SPORTCOUNT_A01'] not in index"

In [15]:
year3

,serial,LA,Age9,Child4,Disab2_POP,Educ6,Eth7,Gend3,WorkStat10,BMIG,MONTHS_12_BADMINTON_G02,DURATION_BADMINTON_G02,FREQUENCY_BADMINTON_G02,MINS_SESS_BADMINTON_G02,DURATION_RACKETSPORT_C06,FREQUENCY_RACKETSPORT_C06
0,1.611701e+14,323.0,3.0,1.0,2.0,1.0,2.0,2.0,1.0,4.0,0.0,0.0,0.0,NaN,0.0,0.0
1,1.612602e+14,192.0,3.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0
2,1.612603e+14,284.0,8.0,1.0,2.0,1.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,NaN,0.0,0.0
3,1.612715e+14,88.0,6.0,1.0,2.0,1.0,2.0,1.0,5.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0
4,1.701704e+14,99.0,3.0,1.0,2.0,1.0,1.0,2.0,8.0,3.0,1.0,30.0,2.0,60.0,30.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179742,1.810903e+14,310.0,4.0,1.0,2.0,1.0,NaN,2.0,2.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0
179743,1.810903e+14,310.0,2.0,4.0,2.0,3.0,7.0,2.0,8.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0
179744,1.810903e+14,310.0,7.0,1.0,2.0,1.0,1.0,1.0,5.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0
179745,1.810903e+14,310.0,3.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0
179746,1.810903e+14,310.0,6.0,1.0,2.0,3.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,NaN,0.0,0.0

In [16]:
# Read the CSV file into a pandas DataFrame

chunksize = 10000

# the list that contains all the dataframes
list_of_dataframes = []

for df in pd.read_csv('year4.csv', chunksize=chunksize):
    # process your data frame here
    # then add the current data frame into the list
    list_of_dataframes.append(df)

# if you want all the dataframes together, here it is
df4 = pd.concat(list_of_dataframes)

In [17]:
# Define the list of variables to keep
variables_to_keep = ['serial', 'LA', 'Age9' , 'Child4', 'Disab2_POP', 'Educ6', 'Eth7', 'Gend3',
                     'WorkStat10' , 'BMIG' , 'MONTHS_12_BADMINTON_G02' , 'DURATION_BADMINTON_G02', 'FREQUENCY_BADMINTON_G02',
                     'MINS_SESS_BADMINTON_G02','DURATION_RACKETSPORT_C06', 'FREQUENCY_RACKETSPORT_C06']

# Keep only the desired variables in the DataFrame
year4 = df4[variables_to_keep]

In [18]:
year4["FREQUENCY_BADMINTON_G02"].describe()

count    181535.000000
mean          0.079907
std           0.705336
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          28.000000
Name: FREQUENCY_BADMINTON_G02, dtype: float64

In [20]:
# Read the CSV file into a pandas DataFrame
chunksize = 10000

# the list that contains all the dataframes
list_of_dataframes = []

for df in pd.read_csv('year5.csv', chunksize=chunksize):
    # process your data frame here
    # then add the current data frame into the list
    list_of_dataframes.append(df)

# if you want all the dataframes together, here it is
df5 = pd.concat(list_of_dataframes)

In [24]:
# Find column names containing "adult"
matching_columns = df5.columns[df5.columns.str.contains('LA', case=False)]

# Print the matching column names
print(matching_columns.tolist())

['LA_2021', 'LA_2020', 'LA_2019', 'LA_2015', 'UrbRur6_LA', 'VolAny', 'MONTHS_12_FITCLASS_E02', 'ACTYRA_FITCLASS_E02', 'ACTYRB_FITCLASS_E02', 'ACTYRC_FITCLASS_E02', 'ACTYR_7_FITCLASS_E02', 'ACTYR_4_FITCLASS_E02', 'ACTYR_3_FITCLASS_E02', 'FREQUENCY_FITCLASS_E02', 'DURATION_FITCLASS_E02', 'DUR_LHT_FITCLASS_E02', 'DUR_MOD_FITCLASS_E02', 'DUR_HVY_FITCLASS_E02', 'DAYS10P_FITCLASS_E02', 'MEMS7_FITCLASS_E02', 'WHOWITHA_FITCLASS_E02', 'WHOWITHB_FITCLASS_E02', 'WHOWITHC_FITCLASS_E02', 'WHOWITHD_FITCLASS_E02', 'CLUB_FITCLASS_E02', 'DAYS10P60_FITCLASS_E02', 'MINS_SESS_FITCLASS_E02', 'FREQUENCYGR_FITCLASS_E02', 'DURATIONGR_FITCLASS_E02', 'DURATION1PL_FITCLASS_E02', 'DAYS10P60GR_FITCLASS_E02', 'MEMS7GR_FITCLASS_E02', 'INOUTA_FITCLASS_E02', 'INOUTB_FITCLASS_E02', 'SETIN1_FITCLASS_E02', 'SETIN2_FITCLASS_E02', 'SETIN3_FITCLASS_E02', 'SETIN4_FITCLASS_E02', 'SETIN5_FITCLASS_E02', 'SETOUT1_FITCLASS_E02', 'SETOUT2_FITCLASS_E02', 'SETOUT3_FITCLASS_E02', 'SETOUT4_FITCLASS_E02', 'SETOUT5_FITCLASS_E02', 'SETOUT6_FITCLASS_E02', 'SETOUT7_FITCLASS_E02', 'SETOUT8_FITCLASS_E02', 'SETOUT9_FITCLASS_E02', 'SETOUT10_FITCLASS_E02', 'MONTHS_12_LACROSSE_F14', 'ACTYRA_LACROSSE_F14', 'ACTYRB_LACROSSE_F14', 'ACTYRC_LACROSSE_F14', 'ACTYR_7_LACROSSE_F14', 'ACTYR_4_LACROSSE_F14', 'ACTYR_3_LACROSSE_F14', 'FREQUENCY_LACROSSE_F14', 'DURATION_LACROSSE_F14', 'DUR_LHT_LACROSSE_F14', 'DUR_MOD_LACROSSE_F14', 'DUR_HVY_LACROSSE_F14', 'DAYS10P_LACROSSE_F14', 'MEMS7_LACROSSE_F14', 'WHOWITHA_LACROSSE_F14', 'WHOWITHB_LACROSSE_F14', 'WHOWITHC_LACROSSE_F14', 'WHOWITHD_LACROSSE_F14', 'CLUB_LACROSSE_F14', 'DAYS10P60_LACROSSE_F14', 'MINS_SESS_LACROSSE_F14', 'FREQUENCYGR_LACROSSE_F14', 'DURATIONGR_LACROSSE_F14', 'DURATION1PL_LACROSSE_F14', 'DAYS10P60GR_LACROSSE_F14', 'MEMS7GR_LACROSSE_F14', 'INOUTA_LACROSSE_F14', 'INOUTB_LACROSSE_F14', 'SETIN1_LACROSSE_F14', 'SETIN2_LACROSSE_F14', 'SETIN3_LACROSSE_F14', 'SETIN4_LACROSSE_F14', 'SETIN5_LACROSSE_F14', 'SETOUT1_LACROSSE_F14', 'SETOUT2_LACROSSE_F14', 'SETOUT3_LACROSSE_F14', 'SETOUT4_LACROSSE_F14', 'SETOUT5_LACROSSE_F14', 'SETOUT6_LACROSSE_F14', 'SETOUT7_LACROSSE_F14', 'SETOUT8_LACROSSE_F14', 'SETOUT9_LACROSSE_F14', 'SETOUT10_LACROSSE_F14', 'SURFACE1_LACROSSE_F14', 'SURFACE2_LACROSSE_F14', 'SURFACE3_LACROSSE_F14', 'MONTHS_12_PILATES_P01', 'ACTYRA_PILATES_P01', 'ACTYRB_PILATES_P01', 'ACTYRC_PILATES_P01', 'FREQUENCY_PILATES_P01', 'DURATION_PILATES_P01', 'DUR_LHT_PILATES_P01', 'DUR_MOD_PILATES_P01', 'DUR_HVY_PILATES_P01', 'DAYS10P_PILATES_P01', 'MEMS7_PILATES_P01', 'WHOWITHA_PILATES_P01', 'WHOWITHB_PILATES_P01', 'WHOWITHC_PILATES_P01', 'WHOWITHD_PILATES_P01', 'DAYS10P60_PILATES_P01', 'FREQUENCYGR_PILATES_P01', 'DURATIONGR_PILATES_P01', 'DURATION1PL_PILATES_P01', 'DAYS10P60GR_PILATES_P01', 'MEMS7GR_PILATES_P01', 'INOUTA_PILATES_P01', 'INOUTB_PILATES_P01', 'SETIN1_PILATES_P01', 'SETIN2_PILATES_P01', 'SETIN3_PILATES_P01', 'SETIN4_PILATES_P01', 'SETIN5_PILATES_P01', 'SETOUT1_PILATES_P01', 'SETOUT2_PILATES_P01', 'SETOUT3_PILATES_P01', 'SETOUT4_PILATES_P01', 'SETOUT5_PILATES_P01', 'SETOUT6_PILATES_P01', 'SETOUT7_PILATES_P01', 'SETOUT8_PILATES_P01', 'SETOUT9_PILATES_P01', 'SETOUT10_PILATES_P01', 'MONTHS_12_BOXCLASS_P03', 'ACTYRA_BOXCLASS_P03', 'ACTYRB_BOXCLASS_P03', 'ACTYRC_BOXCLASS_P03', 'FREQUENCY_BOXCLASS_P03', 'DURATION_BOXCLASS_P03', 'DUR_LHT_BOXCLASS_P03', 'DUR_MOD_BOXCLASS_P03', 'DUR_HVY_BOXCLASS_P03', 'DAYS10P_BOXCLASS_P03', 'MEMS7_BOXCLASS_P03', 'WHOWITHA_BOXCLASS_P03', 'WHOWITHB_BOXCLASS_P03', 'WHOWITHC_BOXCLASS_P03', 'WHOWITHD_BOXCLASS_P03', 'DAYS10P60_BOXCLASS_P03', 'FREQUENCYGR_BOXCLASS_P03', 'DURATIONGR_BOXCLASS_P03', 'DURATION1PL_BOXCLASS_P03', 'DAYS10P60GR_BOXCLASS_P03', 'MEMS7GR_BOXCLASS_P03', 'INOUTA_BOXCLASS_P03', 'INOUTB_BOXCLASS_P03', 'SETIN1_BOXCLASS_P03', 'SETIN2_BOXCLASS_P03', 'SETIN3_BOXCLASS_P03', 'SETIN4_BOXCLASS_P03', 'SETIN5_BOXCLASS_P03', 'SETOUT1_BOXCLASS_P03', 'SETOUT2_BOXCLASS_P03', 'SETOUT3_BOXCLASS_P03', 'SETOUT4_BOXCLASS_P03', 'SETOUT5_BOXCLASS_P03', 'SETOUT6_BOXCLASS_P03', 'SETOUT7_BOXCLASS_P03', 'SETOUT8_BOXCLASS_P03', 'SETOUT9_BOXCLASS_P03', 'SETOUT10_BOXCLASS_P03', 'MONTHS_12_CARDIOCLASS_P04', 'ACTYRA_CARDIOCLASS_P04', 'ACTYRB_CARDIOCLASS_P04', 'ACTYRC_CARDIOCLASS_P04', 'FREQUENCY_CARDIOCLASS_P04', 'DURATION_CARDIOCLASS_P04', 'DUR_LHT_CARDIOCLASS_P04', 'DUR_MOD_CARDIOCLASS_P04', 'DUR_HVY_CARDIOCLASS_P04', 'DAYS10P_CARDIOCLASS_P04', 'MEMS7_CARDIOCLASS_P04', 'WHOWITHA_CARDIOCLASS_P04', 'WHOWITHB_CARDIOCLASS_P04', 'WHOWITHC_CARDIOCLASS_P04', 'WHOWITHD_CARDIOCLASS_P04', 'DAYS10P60_CARDIOCLASS_P04', 'FREQUENCYGR_CARDIOCLASS_P04', 'DURATIONGR_CARDIOCLASS_P04', 'DURATION1PL_CARDIOCLASS_P04', 'DAYS10P60GR_CARDIOCLASS_P04', 'MEMS7GR_CARDIOCLASS_P04', 'INOUTA_CARDIOCLASS_P04', 'INOUTB_CARDIOCLASS_P04', 'SETIN1_CARDIOCLASS_P04', 'SETIN2_CARDIOCLASS_P04', 'SETIN3_CARDIOCLASS_P04', 'SETIN4_CARDIOCLASS_P04', 'SETIN5_CARDIOCLASS_P04', 'SETOUT1_CARDIOCLASS_P04', 'SETOUT2_CARDIOCLASS_P04', 'SETOUT3_CARDIOCLASS_P04', 'SETOUT4_CARDIOCLASS_P04', 'SETOUT5_CARDIOCLASS_P04', 'SETOUT6_CARDIOCLASS_P04', 'SETOUT7_CARDIOCLASS_P04', 'SETOUT8_CARDIOCLASS_P04', 'SETOUT9_CARDIOCLASS_P04', 'SETOUT10_CARDIOCLASS_P04', 'MONTHS_12_CORECLASS_P05', 'ACTYRA_CORECLASS_P05', 'ACTYRB_CORECLASS_P05', 'ACTYRC_CORECLASS_P05', 'FREQUENCY_CORECLASS_P05', 'DURATION_CORECLASS_P05', 'DUR_LHT_CORECLASS_P05', 'DUR_MOD_CORECLASS_P05', 'DUR_HVY_CORECLASS_P05', 'DAYS10P_CORECLASS_P05', 'MEMS7_CORECLASS_P05', 'WHOWITHA_CORECLASS_P05', 'WHOWITHB_CORECLASS_P05', 'WHOWITHC_CORECLASS_P05', 'WHOWITHD_CORECLASS_P05', 'DAYS10P60_CORECLASS_P05', 'MINS_SESS_CORECLASS_P05', 'FREQUENCYGR_CORECLASS_P05', 'DURATIONGR_CORECLASS_P05', 'DURATION1PL_CORECLASS_P05', 'DAYS10P60GR_CORECLASS_P05', 'MEMS7GR_CORECLASS_P05', 'INOUTA_CORECLASS_P05', 'INOUTB_CORECLASS_P05', 'SETIN1_CORECLASS_P05', 'SETIN2_CORECLASS_P05', 'SETIN3_CORECLASS_P05', 'SETIN4_CORECLASS_P05', 'SETIN5_CORECLASS_P05', 'SETOUT1_CORECLASS_P05', 'SETOUT2_CORECLASS_P05', 'SETOUT3_CORECLASS_P05', 'SETOUT4_CORECLASS_P05', 'SETOUT5_CORECLASS_P05', 'SETOUT6_CORECLASS_P05', 'SETOUT7_CORECLASS_P05', 'SETOUT8_CORECLASS_P05', 'SETOUT9_CORECLASS_P05', 'SETOUT10_CORECLASS_P05', 'MONTHS_12_CYCLECLASS_P06', 'ACTYRA_CYCLECLASS_P06', 'ACTYRB_CYCLECLASS_P06', 'ACTYRC_CYCLECLASS_P06', 'FREQUENCY_CYCLECLASS_P06', 'DURATION_CYCLECLASS_P06', 'DUR_LHT_CYCLECLASS_P06', 'DUR_MOD_CYCLECLASS_P06', 'DUR_HVY_CYCLECLASS_P06', 'DAYS10P_CYCLECLASS_P06', 'MEMS7_CYCLECLASS_P06', 'WHOWITHA_CYCLECLASS_P06', 'WHOWITHB_CYCLECLASS_P06', 'WHOWITHC_CYCLECLASS_P06', 'WHOWITHD_CYCLECLASS_P06', 'DAYS10P60_CYCLECLASS_P06', 'FREQUENCYGR_CYCLECLASS_P06', 'DURATIONGR_CYCLECLASS_P06', 'DURATION1PL_CYCLECLASS_P06', 'DAYS10P60GR_CYCLECLASS_P06', 'MEMS7GR_CYCLECLASS_P06', 'INOUTA_CYCLECLASS_P06', 'INOUTB_CYCLECLASS_P06', 'SETIN1_CYCLECLASS_P06', 'SETIN2_CYCLECLASS_P06', 'SETIN3_CYCLECLASS_P06', 'SETIN4_CYCLECLASS_P06', 'SETIN5_CYCLECLASS_P06', 'SETOUT1_CYCLECLASS_P06', 'SETOUT2_CYCLECLASS_P06', 'SETOUT3_CYCLECLASS_P06', 'SETOUT4_CYCLECLASS_P06', 'SETOUT5_CYCLECLASS_P06', 'SETOUT6_CYCLECLASS_P06', 'SETOUT7_CYCLECLASS_P06', 'SETOUT8_CYCLECLASS_P06', 'SETOUT9_CYCLECLASS_P06', 'SETOUT10_CYCLECLASS_P06', 'MONTHS_12_DANCECLASS_P07', 'ACTYRA_DANCECLASS_P07', 'ACTYRB_DANCECLASS_P07', 'ACTYRC_DANCECLASS_P07', 'FREQUENCY_DANCECLASS_P07', 'DURATION_DANCECLASS_P07', 'DUR_LHT_DANCECLASS_P07', 'DUR_MOD_DANCECLASS_P07', 'DUR_HVY_DANCECLASS_P07', 'DAYS10P_DANCECLASS_P07', 'MEMS7_DANCECLASS_P07', 'WHOWITHA_DANCECLASS_P07', 'WHOWITHB_DANCECLASS_P07', 'WHOWITHC_DANCECLASS_P07', 'WHOWITHD_DANCECLASS_P07', 'CLUB_DANCECLASS_P07', 'DAYS10P60_DANCECLASS_P07', 'FREQUENCYGR_DANCECLASS_P07', 'DURATIONGR_DANCECLASS_P07', 'DURATION1PL_DANCECLASS_P07', 'DAYS10P60GR_DANCECLASS_P07', 'MEMS7GR_DANCECLASS_P07', 'INOUTA_DANCECLASS_P07', 'INOUTB_DANCECLASS_P07', 'SETIN1_DANCECLASS_P07', 'SETIN2_DANCECLASS_P07', 'SETIN3_DANCECLASS_P07', 'SETIN4_DANCECLASS_P07', 'SETIN5_DANCECLASS_P07', 'SETOUT1_DANCECLASS_P07', 'SETOUT2_DANCECLASS_P07', 'SETOUT3_DANCECLASS_P07', 'SETOUT4_DANCECLASS_P07', 'SETOUT5_DANCECLASS_P07', 'SETOUT6_DANCECLASS_P07', 'SETOUT7_DANCECLASS_P07', 'SETOUT8_DANCECLASS_P07', 'SETOUT9_DANCECLASS_P07', 'SETOUT10_DANCECLASS_P07', 'MONTHS_12_WATERCLASS_P08', 'ACTYRA_WATERCLASS_P08', 'ACTYRB_WATERCLASS_P08', 'ACTYRC_WATERCLASS_P08', 'FREQUENCY_WATERCLASS_P08', 'DURATION_WATERCLASS_P08', 'DUR_LHT_WATERCLASS_P08', 'DUR_MOD_WATERCLASS_P08', 'DUR_HVY_WATERCLASS_P08', 'DAYS10P_WATERCLASS_P08', 'MEMS7_WATERCLASS_P08', 'WHOWITHA_WATERCLASS_P08', 'WHOWITHB_WATERCLASS_P08', 'WHOWITHC_WATERCLASS_P08', 'WHOWITHD_WATERCLASS_P08', 'DAYS10P60_WATERCLASS_P08', 'FREQUENCYGR_WATERCLASS_P08', 'DURATIONGR_WATERCLASS_P08', 'DURATION1PL_WATERCLASS_P08', 'DAYS10P60GR_WATERCLASS_P08', 'MEMS7GR_WATERCLASS_P08', 'INOUTA_WATERCLASS_P08', 'INOUTB_WATERCLASS_P08', 'SETIN1_WATERCLASS_P08', 'SETIN2_WATERCLASS_P08', 'SETIN3_WATERCLASS_P08', 'SETIN4_WATERCLASS_P08', 'SETIN5_WATERCLASS_P08', 'SETOUT1_WATERCLASS_P08', 'SETOUT2_WATERCLASS_P08', 'SETOUT3_WATERCLASS_P08', 'SETOUT4_WATERCLASS_P08', 'SETOUT5_WATERCLASS_P08', 'SETOUT6_WATERCLASS_P08', 'SETOUT7_WATERCLASS_P08', 'SETOUT8_WATERCLASS_P08', 'SETOUT9_WATERCLASS_P08', 'SETOUT10_WATERCLASS_P08', 'MONTHS_12_WEIGHTSCLASS_P09', 'ACTYRA_WEIGHTSCLASS_P09', 'ACTYRB_WEIGHTSCLASS_P09', 'ACTYRC_WEIGHTSCLASS_P09', 'FREQUENCY_WEIGHTSCLASS_P09', 'DURATION_WEIGHTSCLASS_P09', 'DUR_LHT_WEIGHTSCLASS_P09', 'DUR_MOD_WEIGHTSCLASS_P09', 'DUR_HVY_WEIGHTSCLASS_P09', 'DAYS10P_WEIGHTSCLASS_P09', 'MEMS7_WEIGHTSCLASS_P09', 'WHOWITHA_WEIGHTSCLASS_P09', 'WHOWITHB_WEIGHTSCLASS_P09', 'WHOWITHC_WEIGHTSCLASS_P09', 'WHOWITHD_WEIGHTSCLASS_P09', 'DAYS10P60_WEIGHTSCLASS_P09', 'MINS_SESS_WEIGHTSCLASS_P09', 'FREQUENCYGR_WEIGHTSCLASS_P09', 'DURATIONGR_WEIGHTSCLASS_P09', 'DURATION1PL_WEIGHTSCLASS_P09', 'DAYS10P60GR_WEIGHTSCLASS_P09', 'MEMS7GR_WEIGHTSCLASS_P09', 'INOUTA_WEIGHTSCLASS_P09', 'INOUTB_WEIGHTSCLASS_P09', 'SETIN1_WEIGHTSCLASS_P09', 'SETIN2_WEIGHTSCLASS_P09', 'SETIN3_WEIGHTSCLASS_P09', 'SETIN4_WEIGHTSCLASS_P09', 'SETIN5_WEIGHTSCLASS_P09', 'SETOUT1_WEIGHTSCLASS_P09', 'SETOUT2_WEIGHTSCLASS_P09', 'SETOUT3_WEIGHTSCLASS_P09', 'SETOUT4_WEIGHTSCLASS_P09', 'SETOUT5_WEIGHTSCLASS_P09', 'SETOUT6_WEIGHTSCLASS_P09', 'SETOUT7_WEIGHTSCLASS_P09', 'SETOUT8_WEIGHTSCLASS_P09', 'SETOUT9_WEIGHTSCLASS_P09', 'SETOUT10_WEIGHTSCLASS_P09', 'MONTHS_12_OTHERFITCLASS_P10', 'ACTYRA_OTHERFITCLASS_P10', 'ACTYRB_OTHERFITCLASS_P10', 'ACTYRC_OTHERFITCLASS_P10', 'FREQUENCY_OTHERFITCLASS_P10', 'DURATION_OTHERFITCLASS_P10', 'DUR_LHT_OTHERFITCLASS_P10', 'DUR_MOD_OTHERFITCLASS_P10', 'DUR_HVY_OTHERFITCLASS_P10', 'DAYS10P_OTHERFITCLASS_P10', 'MEMS7_OTHERFITCLASS_P10', 'WHOWITHA_OTHERFITCLASS_P10', 'WHOWITHB_OTHERFITCLASS_P10', 'WHOWITHC_OTHERFITCLASS_P10', 'WHOWITHD_OTHERFITCLASS_P10', 'DAYS10P60_OTHERFITCLASS_P10', 'MINS_SESS_OTHERFITCLASS_P10', 'FREQUENCYGR_OTHERFITCLASS_P10', 'DURATIONGR_OTHERFITCLASS_P10', 'DURATION1PL_OTHERFITCLASS_P10', 'DAYS10P60GR_OTHERFITCLASS_P10', 'MEMS7GR_OTHERFITCLASS_P10', 'INOUTA_OTHERFITCLASS_P10', 'INOUTB_OTHERFITCLASS_P10', 'SETIN1_OTHERFITCLASS_P10', 'SETIN2_OTHERFITCLASS_P10', 'SETIN3_OTHERFITCLASS_P10', 'SETIN4_OTHERFITCLASS_P10', 'SETIN5_OTHERFITCLASS_P10', 'SETOUT1_OTHERFITCLASS_P10', 'SETOUT2_OTHERFITCLASS_P10', 'SETOUT3_OTHERFITCLASS_P10', 'SETOUT4_OTHERFITCLASS_P10', 'SETOUT5_OTHERFITCLASS_P10', 'SETOUT6_OTHERFITCLASS_P10', 'SETOUT7_OTHERFITCLASS_P10', 'SETOUT8_OTHERFITCLASS_P10', 'SETOUT9_OTHERFITCLASS_P10', 'SETOUT10_OTHERFITCLASS_P10', 'MONTHS_12_HULAHOOP_P27', 'ACTYRA_HULAHOOP_P27', 'ACTYRB_HULAHOOP_P27', 'ACTYRC_HULAHOOP_P27', 'FREQUENCY_HULAHOOP_P27', 'DURATION_HULAHOOP_P27', 'DUR_LHT_HULAHOOP_P27', 'DUR_MOD_HULAHOOP_P27', 'DUR_HVY_HULAHOOP_P27', 'DAYS10P_HULAHOOP_P27', 'MEMS7_HULAHOOP_P27', 'WHOWITHA_HULAHOOP_P27', 'WHOWITHB_HULAHOOP_P27', 'WHOWITHC_HULAHOOP_P27', 'WHOWITHD_HULAHOOP_P27', 'CLUB_HULAHOOP_P27', 'DAYS10P60_HULAHOOP_P27', 'MINS_SESS_HULAHOOP_P27', 'FREQUENCYGR_HULAHOOP_P27', 'DURATIONGR_HULAHOOP_P27', 'DURATION1PL_HULAHOOP_P27', 'DAYS10P60GR_HULAHOOP_P27', 'MEMS7GR_HULAHOOP_P27', 'MONTHS_12_BOWLSFLATGREEN_U20', 'ACTYRA_BOWLSFLATGREEN_U20', 'ACTYRB_BOWLSFLATGREEN_U20', 'ACTYRC_BOWLSFLATGREEN_U20', 'FREQUENCY_BOWLSFLATGREEN_U20', 'DURATION_BOWLSFLATGREEN_U20', 'DUR_LHT_BOWLSFLATGREEN_U20', 'DUR_MOD_BOWLSFLATGREEN_U20', 'DUR_HVY_BOWLSFLATGREEN_U20', 'DAYS10P_BOWLSFLATGREEN_U20', 'MEMS7_BOWLSFLATGREEN_U20', 'WHOWITHA_BOWLSFLATGREEN_U20', 'WHOWITHB_BOWLSFLATGREEN_U20', 'WHOWITHC_BOWLSFLATGREEN_U20', 'WHOWITHD_BOWLSFLATGREEN_U20', 'CLUB_BOWLSFLATGREEN_U20', 'DAYS10P60_BOWLSFLATGREEN_U20', 'MINS_SESS_BOWLSFLATGREEN_U20', 'FREQUENCYGR_BOWLSFLATGREEN_U20', 'DURATIONGR_BOWLSFLATGREEN_U20', 'DURATION1PL_BOWLSFLATGREEN_U20', 'DAYS10P60GR_BOWLSFLATGREEN_U20', 'MEMS7GR_BOWLSFLATGREEN_U20', 'INOUTA_BOWLSFLATGREEN_U20', 'INOUTB_BOWLSFLATGREEN_U20', 'SETIN1_BOWLSFLATGREEN_U20', 'SETIN2_BOWLSFLATGREEN_U20', 'SETIN3_BOWLSFLATGREEN_U20', 'SETIN4_BOWLSFLATGREEN_U20', 'SETIN5_BOWLSFLATGREEN_U20', 'SETOUT1_BOWLSFLATGREEN_U20', 'SETOUT2_BOWLSFLATGREEN_U20', 'SETOUT3_BOWLSFLATGREEN_U20', 'SETOUT4_BOWLSFLATGREEN_U20', 'SETOUT5_BOWLSFLATGREEN_U20', 'SETOUT6_BOWLSFLATGREEN_U20', 'SETOUT7_BOWLSFLATGREEN_U20', 'SETOUT8_BOWLSFLATGREEN_U20', 'SETOUT9_BOWLSFLATGREEN_U20', 'SETOUT10_BOWLSFLATGREEN_U20', 'MONTHS_12_BOWLSFLATGREENIN_U21', 'ACTYRA_BOWLSFLATGREENIN_U21', 'ACTYRB_BOWLSFLATGREENIN_U21', 'ACTYRC_BOWLSFLATGREENIN_U21', 'FREQUENCY_BOWLSFLATGREENIN_U21', 'DURATION_BOWLSFLATGREENIN_U21', 'DUR_LHT_BOWLSFLATGREENIN_U21', 'DUR_MOD_BOWLSFLATGREENIN_U21', 'DUR_HVY_BOWLSFLATGREENIN_U21', 'DAYS10P_BOWLSFLATGREENIN_U21', 'MEMS7_BOWLSFLATGREENIN_U21', 'DAYS10P60_BOWLSFLATGREENIN_U21', 'MINS_SESS_BOWLSFLATGREENIN_U21', 'FREQUENCYGR_BOWLSFLATGREENIN_U21', 'DURATIONGR_BOWLSFLATGREENIN_U21', 'DURATION1PL_BOWLSFLATGREENIN_U21', 'DAYS10P60GR_BOWLSFLATGREENIN_U21', 'MEMS7GR_BOWLSFLATGREENIN_U21', 'MONTHS_12_BOWLSFLATGREENOUT_U22', 'ACTYRA_BOWLSFLATGREENOUT_U22', 'ACTYRB_BOWLSFLATGREENOUT_U22', 'ACTYRC_BOWLSFLATGREENOUT_U22', 'FREQUENCY_BOWLSFLATGREENOUT_U22', 'DURATION_BOWLSFLATGREENOUT_U22', 'DUR_LHT_BOWLSFLATGREENOUT_U22', 'DUR_MOD_BOWLSFLATGREENOUT_U22', 'DUR_HVY_BOWLSFLATGREENOUT_U22', 'DAYS10P_BOWLSFLATGREENOUT_U22', 'MEMS7_BOWLSFLATGREENOUT_U22', 'DAYS10P60_BOWLSFLATGREENOUT_U22', 'MINS_SESS_BOWLSFLATGREENOUT_U22', 'FREQUENCYGR_BOWLSFLATGREENOUT_U22', 'DURATIONGR_BOWLSFLATGREENOUT_U22', 'DURATION1PL_BOWLSFLATGREENOUT_U22', 'DAYS10P60GR_BOWLSFLATGREENOUT_U22', 'MEMS7GR_BOWLSFLATGREENOUT_U22', 'DAYS10P_EXBIKE_CYCLECLASS_D04', 'Months_12_EXBIKE_CYCLECLASS_D04', 'Months_12_NOT4x_EXBIKE_CYCLECLASS_D04', 'DAYS10PGR4x_EXBIKE_CYCLECLASS_D04', 'MEMS7_OUT_COUNTRYCOAST_LAND_SPORTCOUNT_A01', 'MEMS7GR_OUT_COUNTRYCOAST_LAND_SPORTCOUNT_A01', 'MEMS7_OUT_COUNTRYCOAST_LAND_FITNESS_B06', 'MEMS7GR_OUT_COUNTRYCOAST_LAND_FITNESS_B06', 'HABITA1A_LACROSSE_F14', 'HABITA1B_LACROSSE_F14', 'HABITA1C_LACROSSE_F14', 'HABITA2A_LACROSSE_F14', 'HABITA2C_LACROSSE_F14', 'HABITA2B_LACROSSE_F14', 'HABITA1AGR_LACROSSE_F14', 'HABITA1BGR_LACROSSE_F14', 'HABITA1CGR_LACROSSE_F14', 'MUSCLE7GR_FITCLASS_E02', 'MUSCLE7GR_LACROSSE_F14', 'MUSCLE7GR_PILATES_P01', 'MUSCLE7GR_BOXCLASS_P03', 'MUSCLE7GR_CARDIOCLASS_P04', 'MUSCLE7GR_CORECLASS_P05', 'MUSCLE7GR_CYCLECLASS_P06', 'MUSCLE7GR_DANCECLASS_P07', 'MUSCLE7GR_WATERCLASS_P08', 'MUSCLE7GR_WEIGHTSCLASS_P09', 'MUSCLE7GR_OTHERFITCLASS_P10', 'MUSCLE7GR_HULAHOOP_P27', 'MUSCLE7GR_BOWLSFLATGREEN_U20', 'MUSCLE7GR_BOWLSFLATGREENIN_U21', 'MUSCLE7GR_BOWLSFLATGREENOUT_U22']

In [25]:
# Define the list of variables to keep
variables_to_keep = ['serial', 'LA_2015', 'Age9' , 'Child4', 'Disab2_POP', 'Educ6', 'Eth7', 'Gend3',
                     'WorkStat10' , 'BMIG' , 'MONTHS_12_BADMINTON_G02' , 'DURATION_BADMINTON_G02', 'FREQUENCY_BADMINTON_G02',
                     'MINS_SESS_BADMINTON_G02','DURATION_RACKETSPORT_C06', 'FREQUENCY_RACKETSPORT_C06']

# Keep only the desired variables in the DataFrame
year5 = df5[variables_to_keep]

In [3]:
# Read the CSV file into a pandas DataFrame
#df6 = pd.read_csv('year6.csv', engine="pyarrow")

chunksize = 1000

# the list that contains all the dataframes
list_of_dataframes = []

for df in pd.read_csv('year6.csv', chunksize=chunksize):
    # process your data frame here
    # then add the current data frame into the list
    list_of_dataframes.append(df)

# if you want all the dataframes together, here it is
df6 = pd.concat(list_of_dataframes)

In [27]:
# Define the list of variables to keep
variables_to_keep = ['serial', 'LA_2009', 'Age9' , 'Child4', 'Disab2_POP', 'Educ6', 'Eth7', 'Gend3',
                     'WorkStat10' , 'BMIG' , 'MONTHS_12_BADMINTON_G02' , 'DURATION_BADMINTON_G02', 'FREQUENCY_BADMINTON_G02',
                     'MINS_SESS_BADMINTON_G02','DURATION_RACKETSPORT_C06', 'FREQUENCY_RACKETSPORT_C06']

# Keep only the desired variables in the DataFrame
year6 = df6[variables_to_keep]

In [42]:
#making sure the new names match 

new_column_names = ['Serial', 'LA', 'Age','Child', 'Diability','Education','Ethnicity','Gender','Workstatus',
                    'BMI','Badminton_12_Momths','Badminton_Duration','Badminton_Frequency','Mins_Badminton_Perweek',
                   'Duration_Racket','Frequency_Racket']



        
# Call the function to rename the columns
# Replace the column names in the dataframe
year1.columns = new_column_names
year2.columns = new_column_names
year3.columns = new_column_names
year4.columns = new_column_names
year5.columns = new_column_names
year6.columns = new_column_names

In [ ]:
#Will Need to Create. new Varaible called year and a new binary varaible for another one of the varaibles

In [43]:
year1["Time"] = 1
year2["Time"] = 2
year3["Time"] = 3
year4["Time"] = 4
year5["Time"] = 5
year6["Time"] = 6

/var/folders/zp/y2vlfd414295r1l6rtn8vxnc0000gn/T/ipykernel_63645/1559743721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year1["Time"] = 1
/var/folders/zp/y2vlfd414295r1l6rtn8vxnc0000gn/T/ipykernel_63645/1559743721.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year2["Time"] = 2
/var/folders/zp/y2vlfd414295r1l6rtn8vxnc0000gn/T/ipykernel_63645/1559743721.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year3["Time"] = 3
/var/folders/zp/y2vlfd414295r1l6rtn8vxnc0000gn/T/ipykernel_63645/1559743721.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year4["Time"] = 4
/var/folders/zp/y2vlfd414295r1l6rtn8vxnc0000gn/T/ipykernel_63645/1559743721.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year5["Time"] = 5
/var/folders/zp/y2vlfd414295r1l6rtn8vxnc0000gn/T/ipykernel_63645/1559743721.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year6["Time"] = 6

In [45]:
# Merge dataframes in a long format
merged_df = pd.concat([year1, year2,year3,year4,year5,year6], axis=0)

In [46]:
merged_df

,Serial,LA,Age,Child,Diability,Education,Ethnicity,Gender,Workstatus,BMI,Badminton_12_Momths,Badminton_Duration,Badminton_Frequency,Mins_Badminton_Perweek,Duration_Racket,Frequency_Racket,Time
0,1.604801e+14,155.0,8.0,NaN,2.0,NaN,7.0,2.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,1.511600e+14,123.0,6.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,1.511600e+14,123.0,4.0,3.0,NaN,3.0,1.0,2.0,6.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1
3,1.511600e+14,123.0,7.0,1.0,2.0,3.0,1.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1
4,1.511600e+14,123.0,7.0,1.0,2.0,3.0,1.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177268,2.110903e+14,NaN,2.0,1.0,1.0,2.0,1.0,2.0,8.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0,6
177269,2.110903e+14,78.0,5.0,1.0,2.0,NaN,2.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,6
177270,2.110903e+14,78.0,6.0,1.0,2.0,3.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,NaN,0.0,0.0,6
177271,2.110903e+14,78.0,6.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,6
177272,2.110903e+14,78.0,3.0,1.0,2.0,5.0,7.0,1.0,2.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0,6

In [47]:
# Save the merged dataframe as a CSV file
merged_df.to_csv('merged_adult_dataframe.csv', index=False)